<h3><%= @kitten.name %></h3>
<p>
    age: <%= @kitten.age %> months<br>
    cuteness: <%= @kitten.cuteness %>/10<br>
    softness: <%= @kitten.softness %>/10<br>
</p>
<%= link_to "edit kitten", edit_kitten_path(@kitten) %>
<%= link_to "home", kittens_path %>
<%= button_to "delete", @kitten, method: :delete, data: { turbo_confirm: "are you sure you want to delete?" } %>